* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contents-wrapper {
  width: calc(100% - 15px);
  margin: 1rem auto;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 1.8rem;
}

h1::after {
  content: '\00a0';
  margin: 15px auto;
  display: block;
  width: 46px;
  height: 5px;
  background-color: #42678F;
}

.content {
  position: relative;
}

.content table {
  margin-top: 10px;
}

.content .table4,
.content .table8 {
  margin-top: 15px;
}

.content p {
  width: 200px;
  margin: 5px auto;
  padding-left: 20px;
  font-size: 0.5rem;
}

.content p span {
  color: #0033CF;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.caption-hidden,
.no-clinic {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.main-head {
  width: 200px;
  color: #F5F5F5;
  font-size: 1rem;
}

.table1 .main-head,
.table2 .main-head,
.table3 .main-head,
.table4 .main-head {
  background-color: #42678F;
  border: 1px solid #42678F;
}

.table5 .main-head,
.table6 .main-head {
  background-color: #0066CC;
  border: 1px solid #0066CC;
}

.table7 .main-head {
  background-color: #333399;
  border: 1px solid #333399;
}

.table8 .main-head {
  background-color: #6633CC;
  border: 1px solid #6633CC;
}

.main-head::first-line {
  font-size: 0.95rem;
  font-weight: normal;
}

.table-row {
  height: 40px;
}

.sub-head {
  background-color: #F5F5F5;
}

.sub-head,
table td {
  width: 70px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  color: #333333;
  border: 1px solid #DDDDDD;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }

  .main-head {
    font-size: 0.8rem;
  }
  
  .main-head::first-line {
    font-size: 0.75rem;
    font-weight: normal;
  }

  .sub-head,
  table td {
    font-size: 0.7rem;
  }

  .table-row {
    height: 35px;
  }

  .table-row:nth-child(2) {
    height: 50px;
  }
}

@media screen and (max-width: 450px) {
  .contents-wrapper {
    width: calc(100% - 10px);
    margin: 1rem auto;
  }

  h1 {
    font-size: 1.3rem;
  }

  .main-head {
    font-size: 0.65rem;
  }
  
  .main-head::first-line {
    font-size: 0.6rem;
    font-weight: normal;
  }
  
  .sub-head,
  table td {
    font-size: 0.6rem;
  }

  .table-row {
    height: 30px;
  }

  .table-row:nth-child(2) {
    height: 35px;
  }
}

@media screen and (min-width: 800px) {
  .contents-wrapper {
    max-width: 800px;
  }

  .contents-wrapper h1 {
    font-size: 1.5rem;
  }

  .table-row {
    height: 40px;
  }

  .table-row:nth-child(2) {
    height: 55px;
  }
}