* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contents-wrapper {
  width: calc(100% - 25px);
  margin: 1rem auto;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

h1::after {
  content: '\00a0';
  margin: 15px auto;
  display: block;
  width: 46px;
  height: 5px;
  background-color: #0099CC;
}

.caption-hidden, .no-clinic {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}



/* 임시 */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #525252;
}

th, td {
  border: 1px solid #525252;
}